<p id="notice"><%#= notice %></p>

<h1>Tickets</h1>

<table class="table-default">
  <thead>
    <tr>
      <th>Request number</th>
      <th>Sequence number</th>
      <th>Request type</th>
      <th>Request taken</th>
      <th>Transmission date time</th>
      <th>Legal</th>
      <th>Response due</th>
      <th>Restake on</th>
      <th>Expiration on</th>
      <th>Primary service area code</th>
      <th>Additional service area codes</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.request_number %></td>
        <td><%= ticket.sequence_number %></td>
        <td><%= ticket.request_type %></td>
        <td><%= ticket.request_taken %></td>
        <td><%= ticket.transmission_date_time %></td>
        <td><%= ticket.legal %></td>
        <td><%= ticket.response_due %></td>
        <td><%= ticket.restake_on %></td>
        <td><%= ticket.expiration_on %></td>
        <td><%= ticket.primary_service_area_code %></td>
        <td><%= ticket.additional_service_area_codes %></td>
        <td><%= link_to 'Show', api_v1_ticket_path(ticket.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

