<p id="notice"><%#= notice %></p>

<p>
  <strong>Request number:</strong>
  <%= @ticket.request_number %>
</p>

<p>
  <strong>Sequence number:</strong>
  <%= @ticket.sequence_number %>
</p>

<p>
  <strong>Request type:</strong>
  <%= @ticket.request_type %>
</p>

<p>
  <strong>Request taken:</strong>
  <%= @ticket.request_taken %>
</p>

<p>
  <strong>Transmission date time:</strong>
  <%= @ticket.transmission_date_time %>
</p>

<p>
  <strong>Legal:</strong>
  <%= @ticket.legal %>
</p>

<p>
  <strong>Response due:</strong>
  <%= @ticket.response_due %>
</p>

<p>
  <strong>Restake on:</strong>
  <%= @ticket.restake_on %>
</p>

<p>
  <strong>Expiration on:</strong>
  <%= @ticket.expiration_on %>
</p>

<p>
  <strong>Primary service area code:</strong>
  <%= @ticket.primary_service_area_code %>
</p>

<p>
  <strong>Additional service area codes:</strong>
  <%= @ticket.additional_service_area_codes %>
</p>


<%= link_to 'Back', api_v1_tickets_path %>

</br>

<div id="map"></div>

<script type="text/javascript">
/* It needs to be baselined as per the requirement. Kept it as is since I have to deliver it on commited time */
  $(window).on("load", function(){
    // var $polygons = "<%= @ticket.digsiteInfo unless @ticket.digsiteInfo.nil? %>";
    // window.localStorage.setItem('polygons', $polygons);
  });
</script>