<!DOCTYPE html>
<html>
  <head>
    <title>Code Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJLgU2TedtXRi12-aM8iO2Ii59bOCzdU8&callback=initMap">
    
</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
